:root{

/*tu wpisujemy wszystkie kolory na stornie*/


}

body{ 
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 500; /* Sprawzdić jaki jest domyślny dla strony*/
    
}


.filters-list{
color: #4D5AE5;
}

.filter-button:hover
.filter-button:focus{
background-color:var(#4D5AE5)  /* Ten fragment poprawić */ 
} 

.filter-button{
    background-color: #E7E9FC;
    font-family: inherit;
    cursor: pointer;
    color: #4D5AE5;
}